@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round:wght@400;500;600;700&display=swap');

/* -------------------------------------------------------------------- Variables */

:root {
    --black: #000000;
    --white: #ffffff;
    --red: #962D32;
    --yellow: #EED55F;
    --trans-yellow: #EED55F66;
    --trans-red: #962D3277;
    --header-height: 80px;
}

/* -------------------------------------------------------------------- Resets */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    height: calc(100vh - 48px);
    margin: 0;
    background-color: whitesmoke;
    color: var(--white);
}

a {
    text-decoration: none;
    color: var(--black);
}

.hide {
    display: none;
}

/* ---------------------------------------------------------------- Header */

.header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    display: grid;
    box-shadow: 0px 2px 10px 2px darkred;
    background-color: var(--red);
    z-index: 99;
}

.header img {
    height: calc(var(--header-height) * 1.25);
    position: fixed;
    top: 5px;
    left: 30px;
}

.logo {
    display: grid;
    place-self: center;
    font-family: 'Dancing Script', sans-serif;
    text-shadow: 0 0 5px var(--yellow);
}

.logo h1 {
    font-size: 2.5rem;
    color: var(--white);
}

nav {
    height: 100%;
    display: none;
}

.nav-menu {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.nav-link {
    list-style: none;
    width: 100%;
    height: 5vh;
}

.nav-link a {
    height: 10vh;
    line-height: 2.5;
    color: var(--white);
    display: block;
}

.menu-bar {
    display: inline;
}

.navbar-toggle {
    background-color: var(--red);
    display: inline;
    width: 25%;
    height: 100%;
    position: fixed;
    top: var(--header-height);
    right: 0;
    box-shadow: -2px 9px 10px 2px darkred;
}

#burger-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.bar-icon {
    text-shadow: 0 0 5px var(--yellow);
}

/* ---------------------------------------------------------------- Landing Page */

.grid-container-welcome {
    display: grid;
    height: 100vh;
    width: 100%;
    background: url("../img/landing-page.jpg") no-repeat center center/cover;
}

.landing-overlay h1 {
    line-height: 1.5;
}

.welcome {
    font-family: 'Varela Round', sans-serif;
    font-size: 3rem;
    color: var(--yellow);
    place-self: end center;
}

.sub-heading {
    margin-bottom: 20px;
    font-size: 2rem;
    place-self: center center;
}

.suggest-btn {
    place-self: start center;
}

.scroll-arrow {
    font-size: 2.5rem;
    color: var(--white);
    place-self: end center;
}

.scroll-arrow i,
.next-arrow i {
    text-shadow: 0 0 10px #000;
}

.next-arrow-black i {
    text-shadow: 0 0 10px #fff;
}

/* ---------------------------------------------------------------- Holiday cards */

.grid-container {
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-odds {
    grid-template-areas: 
    ". ."
    ". holiday-content" 
    "next-arrow next-arrow";
}

.grid-evens {
    grid-template-areas:
    ". ." 
    "holiday-content ." 
    "next-arrow next-arrow";
}

.holiday-landing-overlay {
    grid-area: holiday-content;
}

.grid-container-holidays {
    height: 100vh;
}

.grid-container-last {
    height: 95vh;
}

.next-arrow {
    font-size: 2.5rem;
    grid-area: next-arrow;
    justify-self: center;
    align-self: end;
    color: var(--white);
}

.fa-chevron-down:hover {
    color: var(--yellow);
}

.next-arrow-black {
    color: var(--black);
}

.holiday-name {
    justify-self: center;
    color: var(--yellow);
    text-shadow: rgb(0, 0, 0) 0 0 50px;
    font-family: 'Varela Round', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.holiday-description,
h3,
h4 {
    padding-bottom: 1rem;
    color: #fafafa;
    border-radius: 0.2rem;
    text-shadow: pink 0 0 10px;
    margin-bottom: 20px;
    font-size: 1.25rem;
}

h3 {
    margin-bottom: .3rem;
    line-height: 2.4rem;
    padding-bottom: 0;
}

h4 {
    font-weight: 900;
    font-size: 1.1rem;
    margin-bottom: 0;
}

#christmas {
    background-image: url('../img/christmas/christmas-2.jpg');
}

#new-years-eve {
    background-image: url('../img/general-celebrations/general-celebration-5.jpg');
}

#diwali {
    background-image: url('../img/diwali/diwali-2.jpg');
}

#hanukkah {
    background-image: url('../img/hanukkah/hanukkah-5.jpg');
}

#yuletide {
    background-image: url('../img/yuletide/yuletide-1.jpg');
}

#chinese-ny {
    background-image: url('../img/chinese-new-year/chinese-ny-3.jpg');
}

/* --------------------------------------------------------------- Buttons */

.red-button {
    cursor: pointer;
    width: fit-content;
    padding: 1rem;
    background-color: var(--red);
    box-shadow: inset 0 0 .75rem 0 var(--yellow), 0 0 .75rem 0 var(--yellow);
    border-radius: 8px;
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: var(--white);
}

.btt-btn {
    visibility: hidden;
    opacity:0;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 1rem;
    border: none;
    outline: none;
    color: var(--red);
    cursor: pointer;
    padding: 1px; 
    border-radius: 4px;
    transition: 0.5s;
}

.btt-btn i {
    font-size: 2.5rem;
}

.btt-btn.active {
    visibility: visible;
    opacity: 1;
    border: 15px solid #e84d1b;
    border-radius: 50%;
    text-shadow: 0 0 5px var(--yellow);
}

/* ---------------------------------------------------------------- Hover / Focus */

#burger-icon:hover,
#burger-icon:focus {
    color: var(--yellow);
}

.btt-btn:hover,
.btt-btn:focus {
    color: var(--yellow);
    text-shadow: 0 0 10px red;
}

.nav-link:hover,
.nav-link:focus {
    background-color: var(--yellow);
    cursor: pointer;
}

.nav-link:hover a,
.nav-link:focus a {
    color: var(--black);
}

.red-button:hover,
.red-button:focus {
    background-color: var(--yellow);
    color: var(--red);
}

footer a:hover,
footer a:focus {
    color: var(--yellow);
}

/* ---------------------------------------------------------------- Form */

#form-container {
    display: grid;
    padding: 1rem;
    border-radius: 2%;
    width: 100%;
    padding-top: 100px;
    background: url("../img/gingerbread-and-mug.jpg") no-repeat center center/cover;
    border-radius: 5px;
    color: var(--black);
}

#suggestion-content {
    width: 60%;
    height: fit-content;
    place-self: center;
}

.form-btn {
    margin: 0 auto;
    width: fit-content;
    justify-self: center;
    margin-top: 20px;
}

.form-header {
    color: var(--black);
    margin-bottom: 20px;
}

input[type=text],
textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 4px 10%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: sans-serif;
}

.container {
    position: relative;
    background-color: var(--trans-yellow);
    padding: 1rem;
    border-radius: 2%;
    width: 100%;
    margin: 50px 0 1rem;
    font-size: 1.25rem;
}

.container h2 {
    text-align: center;
    color: var(--black);
    text-shadow: 0 0 10px var(--white);
}

.container label {
    display: block;
    margin: 4px 10%;
}

#form-fail {
    color: red;
}

input,
textarea {
    background-color: whitesmoke;
}

/* -------------------------------------------------------------------- Quiz */

.quizshow-container {
    background-color: var(--red);
    border-bottom: 10px solid var(--trans-yellow);
    padding-bottom: 20px;
    display: grid;
    color: var(--white);
    width: 100%;
    padding-top: 16px;
    text-align: center;
}

.mySlide {
    width: 70%;
    place-self: center;
    font-size: 20px;
}

#slide-number {
    color: var(--yellow);
    text-shadow: 0 0 5px var(--white);
}

#quiz-question {
    padding: 16px;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

#quiz-question a {
    cursor: pointer;
    color: var(--white);
}

#quiz-question a:hover {
    color: var(--yellow);
}

.slideNumber {
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    top: 0;
}

/* -------------------------------------------------------------------- Stars */

.christmas-star {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.star {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' width='197.55556mm' height='197.55556mm' viewBox='0 0 700.00001 700' id='svg2' version='1.1' inkscape:version='0.91 r13725' sodipodi:docname='Star.svg'%3E%3Cdefs id='defs4' /%3E%3Csodipodi:namedview id='base' pagecolor='%23000000' bordercolor='%23ffffff' borderopacity='1.0' inkscape:pageopacity='0.0' inkscape:pageshadow='2' inkscape:zoom='0.95714285' inkscape:cx='350' inkscape:cy='350' inkscape:document-units='px' inkscape:current-layer='layer1' showgrid='false' fit-margin-top='0' fit-margin-left='0' fit-margin-right='0' fit-margin-bottom='0' inkscape:window-width='1600' inkscape:window-height='837' inkscape:window-x='-8' inkscape:window-y='-8' inkscape:window-maximized='1' /%3E%3Cmetadata id='metadata7'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg inkscape:label='Layer 1' inkscape:groupmode='layer' id='layer1' transform='translate(1252.3164,-304.67969)'%3E%3Cpath style='opacity:1;fill:%23ffffff;fill-opacity:1;stroke:none;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' d='m -902.3164,304.67969 -28.04007,302.41272 -115.18233,-95.63509 95.63512,115.1823 -302.41272,28.04007 302.41348,28.03931 -95.63588,115.1823 115.18233,-95.63433 28.04007,302.41273 28.03931,-302.41349 115.1823,95.63509 -95.63509,-115.1823 302.41348,-28.03931 -302.41272,-28.04007 95.63433,-115.1823 -115.1823,95.63586 -28.03931,-302.41349 z' id='path4140' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    padding: 2.5px 0;
    border-radius: 8px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* -------------------------------------------------------------------- Holiday pages */

.holiday-main {
    background-image: url('../img/stars.jpg');
    background-size: contain;
    background-repeat: repeat-y;
}

.overlay {
    padding: 30px;
    border-radius: 10px;
    line-height: 2;
    text-align: center;
    max-width: 90%;
    margin: auto;
    background: rgba(0,0,0,0.6);
}

.holiday-section {
    padding: 50px;
    border-radius: 20px;
    background-color: var(--trans-red);
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.holiday-section:nth-of-type(2n) {
    background-color: var(--trans-yellow);
    flex-direction: row-reverse;
}

.holiday-section:nth-of-type(2n) .holiday-info {
    padding: 0 50px 0 0;
}

.holiday-img-container {
    flex-basis: 40%;
}

.holiday-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.holiday-content {
    margin: auto;
    padding-top: 15vh;
}

.holiday-info {
    flex-basis: 60%;
    padding: 0 0 0 50px;
}

.holiday-info p {
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.75rem;
}

.holiday-info p:last-of-type {
    margin-bottom: 0;
}
/* -------------------------------------------------------------------- Modal */

.modal-overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	z-index: 5;
}

.modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "button1 button2";
    background: url("../img/stars.jpg");
    width: 50%;
    height: 40%;
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: 10;
    border: 2px solid var(--red);
    box-shadow: 2px 2px 2px 2px var(--red);
    border-radius: 50px;
    justify-items: center;
    text-align: center;
}

.modal-text {
	grid-area: header;
	width: 75%;
	margin: auto;
	margin-top: 25px;
	background-color: rgba(0,0,0,0.6);
	padding: 20px;
	border-radius: 25px;
    border: 2px solid var(--red);
    box-shadow: 2px 2px 2px var(--red);
}

.modal-text h2 {
    color: var(--white);
}

.modal-btn-yes {
    grid-area: button1;
}

.modal-btn-no {
    grid-area: button2;
}

.modal-btn-yes,
.modal-btn-no {
    height: fit-content;
}

/* -------------------------------------------------------------------- Footer */

footer {
    padding-top: 20px;
    width: 100%;
    background: var(--red);
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    font-size: 20px;
}

footer .flex {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

footer .flex a {
    flex-basis: 25%;
}

footer .flex p {
    flex-basis: 50%;
    padding: 0 2px;
    border-left: solid 2px var(--yellow);
    border-right: solid 2px var(--yellow);
}

footer a {
    color: var(--white);
}

footer ul {
    list-style-type: none;
    display: flex;
    width: 50%;
    padding: 20px 0;
    justify-content: space-around;
}

.team {
    margin: 5px 0;
}

.circle-photo {
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.name {
    font-size: 1rem;
    margin: 0 5px;
}

/* -------------------------------------------------------------------- 404 */

.main-404 {
    height: 100vh;
    background-image: url('../img/christmas/christmas-8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.content-404 {
    padding-top: 20vh;
    margin: auto;
    width: fit-content;
}

.p-404 {
    padding-bottom: 20px;
}

/* -------------------------------------------------------------------- Animations */

@keyframes star-spin {
    0%,
    100% {
        transform: scale(0) rotate(-90deg);
    }

    50% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes bounce {
	0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: translateY(0);
    }

	10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-15px);
    }
}

/* -------------------------------------------------------------------- Accessibility */

.tap-target {
    min-width: 48px;
    min-height: 48px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* -------------------------------------------------------------------- Media queries */

@media screen and (prefers-reduced-motion: no-preference) {
    .star {
        will-change: transform;
        animation: star-spin 8s ease-in-out infinite;
    }

    .fa-chevron-down {
        animation: bounce 5s ease-in-out infinite;
    }
}

@media screen and (max-width: 1024px) {
    .holiday-section,
    .holiday-section:nth-of-type(2n) {
        flex-direction: column;
        padding: 15px;
    }

    .holiday-section .holiday-info,
    .holiday-section:nth-of-type(2n) .holiday-info  {
        padding: 0;
        padding: 5px;
    }
    
    .circle-photo {
        height: 50px;
        border-radius: 50%;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 920px) {
    .github-links {
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
    }
  
    footer ul {
        width: 100%;
    }

    .btt-btn {
        bottom: 70px;
    }
}

@media screen and (max-width: 768px) {
    .navbar-toggle {
        width: 50%;
    }

    .grid-odds,
    .grid-evens {
        grid-template-areas:
        ". ."  
        "holiday-content holiday-content" 
        "next-arrow next-arrow";
    }

    .welcome,
    .holiday-name {
        font-size: 2.5rem;
    }

    .sub-heading {
        font-size: 1.5rem;
    }

    .header img {
        height: var(--header-height);
        left: 15px;
        top: 0;
    }

    .overlay {
        padding: 5px;
    }

    #suggestion-content {
        width: 90%;
    }

    footer .flex:not(.github-links) {
        flex-direction: column;
    }

    footer .flex:not(.github-links) a {
        flex-basis: 100%;
    }
    
    footer .flex:not(.github-links) p {
        flex-basis: 100%;
        padding: 0 2px;
        border-left: none;
        border-right: none;
        margin: 5px 0;
    }

    .btt-btn {
        bottom: 100px;
    }
}

@media screen and (max-width: 450px) {
    .logo h1 {
        font-size: 1.9rem;
    }

    .mobile-header-break {
        display: block;
    }

    .navbar-toggle {
        width: 100%;
    }

    .grid-container-last {
        height: 105vh;
    }

    .grid-container-welcome {
        padding-top: 2.5rem;
    }

    .mySlide {
        width: 90%;
    }

    #quiz-question {
        font-size: .9rem;
    }

    .btt-btn {
        display: none;
    }

    #burger-icon {
        right: 15px;
    }
}
